/*https://www.iprofesional.com/economia/382477-asi-sera-la-doctrina-de-seguridad-de-milei-si-es-presidente*/

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background: #ffffff;
}

h1{
    background: black;
    color: #ffffff;
    text-align: center;
}

.contenedor{
    width: 90%;
    max-width: 1500px;
    /* width: 1300px; */
    margin:1px auto;
    /* margin: 20px auto; */
    overflow: hidden; /*se pone al padre de los 2 elementos que tienen el float left*/
}
.contenedor .main h2{
    padding: 10px 15px;
    margin-top: 30px;
    margin-bottom:10px;
}
.contenedor .posts h3{
   
    margin-top: 30px;
    margin-bottom:17px;
}

/***************************************************************************************************************************/


div nav{
    text-align: center;
}
header nav{
    width: 100%;
}
header nav ul{
    width: 100%;
    overflow: hidden; /* ya que al poner float left en su hijo li desaparece el fondo blanco*/
    list-style: none;
    
}
header nav ul li{
    float:left;
}
header nav ul li a{
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    color: #000;
    
}

header nav ul li a:hover { 
    color: #c3baba;
}
/***********************************************************************************************************/

.main{
    width: 70%;
    float: left;
}
.main .imagen{
    width: 100%;
}
main .imagen img{
    width: 100%;
}
article p{
    margin-bottom: 10px;
}
/***********************************************************************************************************/


aside{
    width: 30%;
    padding: 20px;
    float: left;
}
aside .widget{
    margin: 20px;
}


/*****************************************************************************************************************/

footer{
    width: 100%; /* puede ser del 100%*/
    clear:both; /*puede ir overflow:hidden, es para empezar en una nueva linea*/
    background: #000;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}
@media screen and (max-width:850px){
    .main{
        width: 100%;
    }
    aside{
        width: 100%;
    }
    footer{
        width: 100%;
    }
}